.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid > div {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 2px;
    border-radius: 20px;
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 100px;    
}

.grid > div:hover{
    background-color:rgb(0, 68, 255);
}

